# 模型权重
model/
*.safetensors
*.bin

# Python缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 虚拟环境
.venv/
deepagents/
.env

# 向量数据库、缓存文件
*.chroma
*.sqlite3
*.pkl
*.parquet

# 运行输出、日志
logs/
*.log
data/output/
data/cache/
data/vector_db/

# 大excel数据集
*.xlsx
